body {
  font-family: sans-serif;
  background-color:rgb(26, 32, 36);
  color: whitesmoke;
  padding: 25px;
}

h1 {
  font-size:25px;
}

.startingpage {
  width: 500px;
  margin: auto;
  text-align: center;
}

.left-navbar {
  color:whitesmoke
}

a { 
  color: inherit;
  text-decoration: none; 
} 