<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GradeGrind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <header>
    <nav class="left-navbar">
      <a href="/html/">HTML</a>
      <a href="/css/">CSS</a>
      <a href="/js/">JavaScript</a>
      <a href="/python/">Python</a>
    </nav>
    <nav class="right-navbar">

    </nav>
  </header>
  <body>
    {% block content %}{% endblock %}
	<script src="script.js"></script>
  </body>
</html>