<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GradeGrind</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('signin') }}">Sign in</a>
      <a href="{{ url_for('register') }}">Register</a>
    </nav>
  </header>
  {% block content %}{% endblock %}
  <script src="script.js"></script>
</body>
</html>